body {
  overflow: hidden;
}

.login-panel {
  background-color: $light;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__container {
    min-width: 40%;
    min-height: 50%;
    background-color: #fff;
    border: 1px solid rgba($orange, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
      font-weight: 400;
    }

    & form {
      display: flex;
      flex-direction: column;

      & input {
        height: 4rem;
        margin: 1rem 0;
        outline: none;
        border: 1px solid $orange;
        border-radius: 4px;
      }

      & button {
        min-height: 3rem;
        background-color: rgba($orange, 0.6);
        border: 1px solid $orange;
        outline: none;
        border-radius: 4px;
        font-family: "Kanit", sans-serif;
        font-size: 1.8rem;
        font-weight: 500;
        padding: 0.8rem;
      }
    }
  }
  &__form {
    width: 40%;
  }

  &__copyright {
    color: rgba(0, 0, 0, 0.4);
    margin-top: 1rem;
  }
}
