.dashboard {
  height: 100vh;
  background-color: $light;

  &__topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #fff;

    &__user {
      position: relative;
      &__signature {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: $orange;
      }

      & ul {
        display: none;
        position: absolute;
        bottom: -150px;
        right: 0;
        width: max-content;
        background-color: #fff;
        list-style-type: none;
        padding: 12px;

        & li {
          padding-bottom: 8px;
          padding-top: 8px;
        }

        & li:not(:last-child) {
          border-bottom: 1px solid rgba($blue, 0.3);
        }

        & a {
          color: $blue;
          text-decoration: none;
        }
      }

      &:hover ul {
        display: block;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: $orange;

    & h1 {
      margin-bottom: 0;
    }
  }

  &__main {
    display: flex;
    padding: 2rem;
    min-height: 70%;
  }

  &__menu {
    width: 20%;
    height: 100%;
    padding: 1rem;
    border: 1px solid rgba($blue, 0.3);
    border-radius: 8px;
    background-color: #fff;

    & ul {
      list-style-type: none;
      padding: 2rem;

      & li {
        margin: 1rem 0;

        &:not(:last-child) {
          padding-bottom: 1rem;
          margin-bottom: 1rem;
          border-bottom: 1px solid rgba($blue, 0.1);
        }
      }

      & i {
        margin-right: 1rem;
      }

      & a {
        color: $blue;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        gap: 2rem;
      }
    }
  }

  &__info {
    padding: 3rem 2rem;
    margin: 0 3rem;
    width: calc(80% - 6rem);
    background-color: #fff;
    border-radius: 8px;

    &__title {
      display: flex;
      gap: 2rem;
      font-size: 3rem;
      color: $orange;
      align-items: center;
      background-color: rgba($pink, 0.1);
      border-radius: 8px;
      padding: 1rem;
      margin-bottom: 2rem;
    }

    &__items {
      display: flex;
      gap: 3rem;
    }

    &__item {
      max-width: 35%;
      min-width: 30%;
      padding: 3rem;
      border-radius: 8px;
      border: 1px solid rgba($orange, 0.6);

      & h3 {
        color: $blue;
        font-size: 2.6rem;
        margin-bottom: 2rem;
      }

      & a {
        text-decoration: none;
      }

      &__add {
        &--little {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          color: $blue;

          & i {
            font-size: 3rem;
          }
        }
      }
    }
  }

  &__global {
    &__form {
      &__section {
        display: flex;
        flex-direction: column;

        & label {
          text-transform: uppercase;
          font-size: 1.8rem;
          font-weight: 600;
          margin-top: 2rem;
        }

        & input {
          height: 4rem;
          padding: 0.4rem;
          border-radius: 4px;
          outline: none;
          border-bottom: 1px solid $green;
          font-size: 1.4rem;

          &::after {
            content: "\F4CB";
          }
        }
      }
    }
  }
}
