.pages {
  &__actions {
    &__button {
      font-size: 2rem;
      margin: 0 0.8rem;
      text-decoration: none;
      border: none;
      background-color: transparent;

      &--watch {
        color: $green;
      }
      &--edit {
        color: $orange;
      }
      &--delete {
        color: $red;
      }
    }

    &__delete {
      display: none;

      &--active ~ & {
        display: block;
      }
    }
  }
}
