.pages {
  &__actions {
    &__button {
      font-size: 2rem;
      margin: 0 0.8rem;
      text-decoration: none;
      border: none;
      background-color: transparent;

      &--watch {
        color: $green;
      }
      &--edit {
        color: $orange;
      }
      &--delete {
        color: $red;
      }
    }

    &__delete {
      display: none;

      &--active ~ & {
        display: block;
        position: absolute;
        top: -10px;
        left: 125px;
        background-color: #fff;
        padding: 4px;
        border: 1px solid black;
        border-radius: 3px;
        text-align: center;

        & a {
          color: #000;
        }
      }

      &--yes {
        & i {
          font-size: 2rem;
          color: $green;
        }
      }
    }
  }
}
