.std- {
  &section {
    padding: 10rem 0;
  }
}

.topbar {
  &__menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;

    & a {
      padding: 1.2rem 2.6rem;
      margin: 0 1rem;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid var(--gray-200);
      }
    }

    & li {
      position: relative;

      & ul {
        position: absolute;
        top: 3.4rem;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in;
        border: 1px solid var(--gray-200);
        width: 100%;
        z-index: 10;
        display: block;
        background-color: #fff;

        & li {
          padding: 1rem 0;
        }
        & a {
          padding: 0;
          margin: 2rem 0;
          &:hover {
            border-bottom: none;
          }
        }
      }

      &:hover ul {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.header {
  background-image: url("../../assets/img/header_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 992px) {
    background-image: url("../../assets/img/header_bg_mobile.png");
  }
}

.about {
  background-color: var(--gray-50);

  &__left {
    & img {
      width: 100%;
      display: block;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
    gap: 3rem;
  }
}
