a {
  color: currentColor;

  &:hover {
    color: var(--gray-600);
  }
}

h1 {
  font-size: $h1;
  line-height: $lh-h1;
  font-weight: 600;
}

h2 {
  font-size: $h2;
  line-height: $lh-h2;
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-size: $h3;
  line-height: $lh-h3;
  font-weight: 600;
}

p {
  font-size: $paragraph;
  line-height: $lh-p;
  font-weight: 500;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 4.2rem;
  font-size: $paragraph;
  border-radius: 0;
  transition: all 0.2s ease;

  &__primary {
    background-color: var(--blue-600);
    color: var(--gray-50);

    &:hover {
      background-color: var(--blue-500);
    }
  }

  &__bordered {
    background-color: #fff;
    border: 1px solid var(--blue-500);
    color: var(--blue-500);

    &:hover {
      color: var(--gray-600);
      border: 1px solid var(--gray-50);
      background-color: var(--gray-50);
    }
  }
}
